@charset "UTF-8";

body{
	margin: 0;
}

/*방문자 통계(?)*/
.visit-statistics{
	width: 150px;
    background-color: yellow;
    transition-property: width;
    transition-duration: 0.5s;
	transition-timing-function: ease;
}

.today-visit:hover{
	width : 160px;
}
.yesterday-visit:hover{
	width : 260px;
}
.total-visit:hover{
	width : 260px;
}
/*방문자END*/

.basic_box{
	margin: 10px 40px;
}

.square_box1{
	padding:10px;
	border: 2px dashed black;
}

.welcom_fixed_bg{
	margin: 0;
	height: 500px;
	background-size: 100% 100%;
    background-attachment: fixed;
	background-image: url("https://i.pinimg.com/564x/2c/60/be/2c60bedd514932f1354324a60d1d04ce.jpg");
}

.basic_hr{
	margin: 10px 40px;
}

.welcomeBg{
	text-align: center;
}

.welcomeBg1{
	width: 500px;
}

#topMenu{
    margin: auto;
}

#topMenu li{
    list-style: none;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

#topMenu .side_menu{
	display: block;
	text-align: right;
}

#topMenu .side_menuBgr{
	display: block;
	height: 30px;
	align-items: right;
}

#topMenu .menuCt{
    text-decoration: none;
    display: block;
    color: whitesmoke;
    width: 200px;
    margin: auto;
}

#topMenu .side_menuCt{
    font-size: small;
    display: block;
    color: gray;
    width: 100px;
    margin: auto;
}

#topMenu .menuBgr{
	margin-bottom: 20px;
    text-align: center;
    background-color: black;
    display: block;
    width: 1000px;
    height: 30px;
    margin: auto;
}

#topMenu .menuCenter{
    display: inline-block;
}

.menuLogo{
    text-align: center;
	display: block;
}


#gameContent{
   text-align: center;
    margin: 10px 50px 10px 50px;

}

.beTimerContent{
	text-align: center;
}


/* #gameContent .gameStartBtns{
    display: inline-block;
    background-color: steelblue;
} */