@charset "UTF-8";

#stopBtn{
    width: 500px;
  height: 500px;
  font-size: x-large;
  display: inline;
  background-color: aquamarine;
}

.startBtn{
  width: 200px;
  height: 100px;
  margin: 10px;
}